html {
  font-size: 13px; /* зміна rem */
}
* {
  user-select: none;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-size: 1.1rem;
  color: rgb(54, 48, 44);
}
meta[name="apple-mobile-web-app-status-bar-style"] {
  content: default;
}

body {
  background-color: rgb(112, 106, 103);
  margin: 2rem auto;
}

.main-wrapper {
  padding: 0.25rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top-bar {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;
  padding: 1rem;
}
.top-bar__first-row {
  width: 90%;
  max-width: 1000px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.exit_btn {
  border: none;
  padding: 10px 44px;
  font-size: 16px;
  border-radius: 40px;
  background: lightsalmon;
}
.exit_btn::before {
  border-radius: 40px;
  width: 25%;
  transition: all 0.85s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  width: 40px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.exit_btn:hover::before {
  background: rgb(228, 135, 99);
  width: 100%;
  font-size: 16px;
  text-align: center;
}
.exit_btn_text {
  color: snow;
  mix-blend-mode: lighten;
}
.date {
  margin: 2rem 0;
  font-size: 1.5rem;
  color: rgb(58, 52, 47);
  font-weight: 600;
}
.hidden {
  display: none;
}

.__can_be_blurred {
  transition: 0.7s;
}
.blurred {
  filter: blur(1rem);
  pointer-events: none;
}
