.main_wrapper-top_bar {
  height: 8vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}
.top_bar-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  background-color: black;
  padding-inline: 2rem;
  transition: all 0.3s ease-in-out;
}
.top_bar-part {
  width: 50%;
  height: 90%;
  display: flex;
  flex-wrap: nowrap;
  padding-inline: 2rem;
  gap: 2rem;
  align-items: center;
}
@media screen and (max-width: 576px) {
  .top_bar-part {
    padding-inline: 0;
  }
}
.top_bar-mobile_menu {
  padding-inline: 1rem;
}
.top_bar-mobile_menu img {
  height: 40%;
  object-fit: contain;
}
.top_bar-left {
  justify-content: flex-start;
}
.top_bar-right {
  justify-content: flex-end;
}
.top_bar-element {
  display: flex;
  align-items: center;
  justify-content: center;
  height: fit-content;
  cursor: pointer;
  font-size: 1.2rem;
  height: 100%;
}
.top_bar-element:hover {
  text-decoration: underline;
}
.top_bar-login,
.top_bar-profile {
  border: 1px aliceblue solid;
  border-radius: 5rem;
  padding-block: 1.5rem;
  padding-inline: 2rem;
  height: fit-content;
  max-height: 85%;
  font-size: 1.25rem;
}

.main_wrapper-mobile_menu {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgb(49, 83, 67);
  z-index: 100;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  height: 100%;
  padding-block: 2rem;
}
.main_wrapper-mobile_menu.collapsed {
  height: 0;
  padding: 0;
}
.mobile_menu-close_menu_btn-wrapper {
  width: 100%;
  padding-block: 1rem;
  padding-inline: 2rem;
}
.close_menu_btn {
  width: 3rem;
  margin-left: auto;
  cursor: pointer;
}
.close_menu_btn img {
  height: 100%;
  object-fit: contain;
  filter: invert(1);
}
.mobile_menu-list {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  width: 100%;
}
.mobile_menu-list-category {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  flex-wrap: nowrap;
  border-top: 2px gray dashed;
  padding-block: 2rem;
  padding-inline: 2rem;
}
.mobile_menu-list-category.__no_border {
  border: none;
}
.category-name {
  min-width: 25%;
  color: aliceblue;
  font-size: 1.5rem;
}
.category-items {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.category-items-page {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  font-weight: 500;
  color: gray;
  font-size: 2rem;
  text-transform: uppercase;
}
.category-items-page.selected {
  color: aliceblue;
}
.category-items-page:hover {
  text-decoration: underline;
}
.mobile_menu-bottom {
  width: 100%;
  display: flex;
  position: absolute;
  bottom: 0;
  padding-inline: 2rem;
  padding-bottom: 5rem;
}
.designer {
  font-size: 1.25rem;
}
