.main_wrapper-top_bar {
  height: 8vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}
.top_bar-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  background-color: black;
  padding-inline: 2rem;
}
.top_bar-part {
  width: 50%;
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
  padding-inline: 2rem;
  gap: 2rem;
  align-items: center;
}
.top_bar-left {
  justify-content: flex-start;
}
.top_bar-right {
  justify-content: flex-end;
}
.top_bar-element {
  display: flex;
  align-items: center;
  justify-content: center;
  height: fit-content;
  cursor: pointer;
}
.top_bar-element:hover {
  text-decoration: underline;
}
.top_bar-login,
.top_bar-profile {
  border: 1px aliceblue solid;
  border-radius: 5rem;
  padding: 1.3rem;
  padding-inline: 2rem;
}

.main_wrapper-mobile_menu {
  position: fixed;
  top: 8vh;
  width: 100%;
  backdrop-filter: brightness(0.2);
  z-index: 100;
  overflow: hidden;
  transition: all 0.3s linear;
  height: 100%;
}
.main_wrapper-mobile_menu.collapsed {
  height: 0;
}
.mobile_menu-list {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  width: 100%;
}
.mobile_menu-list-element {
  width: 100%;
  border-top: 2px aliceblue solid;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  font-size: 1.25rem;
  cursor: pointer;
  background-color: black;
}