.no_padding {
  padding: 0;
}
.free_height_segment {
  height: fit-content;
}
.main_wrapper-segment {
  padding-block: 2rem;
}
.segment-pictures_collection {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  width: 100%;
  height: 100%;
  bottom: 0;
}
.pictures_collection-column {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.pictures_collection-column-row {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.pictures_collection-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  background-color: lightgray;
  border-radius: 1.5rem;
}
.__2_squre-width {
  width: 50%;
}
.__1_squre-width {
  width: 25%;
}
.__2_squre-height {
  height: 100%;
}
.__1_squre-height {
  height: 50%;
}
@media screen and (max-width: 576px) {
  .pictures_collection-column.__tag-pc {
    display: none;
  }
  .pictures_collection-column {
    width: 100%;
  }
}

.segment-start_course_button-wrapper {
  position: absolute;
  bottom: 2rem;
  right: 2rem;
  padding-top: 1rem;
  padding-left: 1rem;
  border-top-left-radius: 2rem;
  border-bottom-left-radius: -2rem;
  background-color: black;
}
.segment-start_course_button {
  padding-block: 1rem;
  padding-inline: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aliceblue;
  border-radius: 1.25rem;
  cursor: pointer;
  height: 100%;
  position: relative;
}
.circle_cutout_bottom {
  position: absolute;
  bottom: 0;
  left: -3rem;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  box-shadow: 1.5rem 1.5rem 0 black;
}
.circle_cutout_top {
  position: absolute;
  top: -3rem;
  right: 0;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  box-shadow: 1.5rem 1.5rem 0 black;
}
.segment-start_course_button img {
  height: 2rem;
  object-fit: contain;
}
.segment-half_screen_picture {
  /* background-color: rgb(116, 116, 116); */
  height: 40%;
  filter: brightness(0.9);
  background-image: url("top-screen-picture.jpeg");
  background-position: bottom;
  background-size: cover;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 3rem;
}
.half_screen_picture-top {
  height: 100%;
}
.half_screen_picture-bottom {
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 1rem;
}
.mini_text_card {
  width: 15rem;
  /* background: rgba(66, 66, 66, 0.5); */
  padding: 1rem;
  border-radius: 1rem;
}
.segment-row-wrapper {
  margin-top: 10%;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.segment-row {
  padding: 2rem;
  padding-inline: 3rem;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 5rem;
}
.segment-row-element {
  width: 100%;
  display: flex;
}
.segment-row-left {
  justify-content: flex-start;
  flex-direction: column;
  padding-right: 10%;
}
.segment-row-right {
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 3rem;
}
.row-text_card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.material_list-element {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  max-width: 500px;
}
.segment-reg_form_division {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  gap: 1rem;
}
.segment-right_screen_picture {
  width: 100%;
  height: 100%;
  margin-right: -1.75rem;
  display: flex;
  flex-direction: row-reverse;
  overflow: hidden;
}
.segment-right_screen_picture img {
  height: 100%;
  object-fit: contain;
}
.segment-registration_form-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 10rem;
  width: 100%;
  min-width: 40vw;
}
.registration_form {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.registration_form input {
  border: none;
  border-bottom: 1px whitesmoke solid;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0);
  align-items: center;
  text-decoration: none;
}
.registration_form-submit_btn {
  margin-top: 3rem;
  border: 2px whitesmoke solid;
  border-radius: 3rem;
  height: 6rem;
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.7s ease-in-out;
}
.registration_form-submit_btn:hover {
  background-color: whitesmoke;
  color: black;
}
