.no_padding {
  padding: 0;
}
.no_gap {
  gap: 0;
}
.free_height_segment {
  height: fit-content;
}
.main_wrapper-segment {
  padding-block: 2rem;
}
#master-key_feature {
  text-transform: uppercase;
}
.segment-pictures_collection {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  width: 100%;
  height: 75%;
  position: relative;
}
.pictures_collection-column {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 100%;
}
.pictures_collection-column-row {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.pictures_collection-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  background-color: lightgray;
  border-radius: 1.5rem;
  overflow: hidden;
}
.__2_squre-width {
  width: 50%;
}
.__1_squre-width {
  width: 25%;
}
.__2_squre-height {
  height: 100%;
}
.__1_squre-height {
  height: 50%;
}
@media screen and (max-width: 768px) {
  .main_wrapper-segment {
    height: fit-content;
  }
  .pictures_collection-column.__tag-pc {
    display: none;
  }
  .pictures_collection-column {
    width: 100%;
  }
}

.segment-start_course_button-wrapper {
  position: absolute;
  bottom: 0;
  right: 0;
  padding-top: 1rem;
  padding-left: 1rem;
  border-top-left-radius: 2rem;
  border-bottom-left-radius: -2rem;
  background-color: black;
}
.segment-start_course_button {
  padding-block: 2rem;
  padding-inline: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aliceblue;
  border-radius: 1.25rem;
  cursor: pointer;
  height: 100%;
  position: relative;
}
.circle_cutout_bottom {
  position: absolute;
  bottom: 0;
  left: -3rem;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  box-shadow: 1.5rem 1.5rem 0 black;
}
.circle_cutout_top {
  position: absolute;
  top: -3rem;
  right: 0;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  box-shadow: 1.5rem 1.5rem 0 black;
}
.segment-start_course_button img {
  height: 2rem;
  object-fit: contain;
}
.segment-half_screen_picture {
  z-index: 0;
  height: 40%;
  background-position: bottom;
  background-size: cover;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 3rem;
}
.segment-half_screen_picture::after {
  z-index: 1;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--glass-light);
}
.half_screen_picture-top {
  height: 100%;
  z-index: 2;
}
.half_screen_picture-bottom {
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 1rem;
  z-index: 2;
}
.mini_text_card {
  width: 15rem;
  padding: 1rem;
}
@media screen and (max-width: 576px) {
  .segment-half_screen_picture {
    height: fit-content;
  }
  .half_screen_picture-bottom {
    flex-direction: column;
  }
  .mini_text_card {
    width: 100%;
  }
}
.segment-bottom_info-wrapper {
  z-index: 2;
  margin-top: 10%;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.segment-bottom_info {
  padding: 2rem;
  padding-inline: 3rem;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 5rem;
}
.segment-bottom_info-element {
  width: 100%;
  display: flex;
}
.segment-bottom_info-left {
  justify-content: flex-start;
  flex-direction: column;
  padding-right: 10%;
}
.segment-bottom_info-right {
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 3rem;
}
.segment-bottom_info-center {
  justify-content: center;
  align-items: center;
}
.big_white_circle {
  min-width: 20rem;
  min-height: 20rem;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("white_circle.png");
}
.bottom_info-text_card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.bottom_info-text_card-text {
  text-align: center;
}
@media screen and (max-width: 576px) {
  .segment-bottom_info-wrapper {
    margin-top: 0;
    padding: 0;
  }
  .segment-bottom_info {
    flex-direction: column;
    padding-block: 0;
    padding-inline: 0;
  }
  .segment-bottom_info-left {
    padding: 10%;
    background-color: var(--rich-green);
  }
  .big_white_circle {
    margin-block: 1rem;
  }
  .segment-bottom_info-center {
    display: none;
  }
  .segment-bottom_info-right {
    padding-inline: 2rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}

.material_list-element {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  max-width: 500px;
}
.material_list-element-text {
  text-transform: uppercase;
}

.segment-reg_form_division {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  gap: 1rem;
}
.segment-right_screen_picture {
  width: 100%;
  height: 100%;
  margin-right: -1.75rem;
  display: flex;
  flex-direction: row-reverse;
  overflow: hidden;
}
.segment-right_screen_picture img {
  height: 100%;
  object-fit: contain;
}
.segment-registration_form-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 10rem;
  width: 100%;
  min-width: 40vw;
}
.registration_form {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.registration_form input {
  border: none;
  border-bottom: 1px whitesmoke solid;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0);
  align-items: center;
  text-decoration: none;
}
.registration_form-submit_btn {
  margin-top: 3rem;
  border: 2px whitesmoke solid;
  border-radius: 3rem;
  height: 6rem;
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.7s ease-in-out;
}
.registration_form-submit_btn:hover {
  background-color: whitesmoke;
  color: black;
}
