.main_wrapper-modules {
  padding-inline: 4rem;
  padding-bottom: 4rem;
}
@media screen and (max-width: 576px) {
  .main_wrapper-modules {
    padding-inline: 2rem;
  }
}
::-webkit-scrollbar {
  display: none;
}
.modules-material_list {
  margin-top: 2rem;
  display: flex;
  gap: 4rem;
  flex-direction: column;
  width: 100%;
  justify-content: flex-start;
  align-items: start;
}
.material_list-element {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.material_list-element-info {
  width: 100%;
  display: flex;
  flex-direction: row;
  height: fit-content;
  gap: 1rem;
  justify-content: start;
  align-items: center;
}
.material_list-element-text {
  cursor: pointer;
}
.material_list-element-text:hover {
  text-decoration: underline;
}
.material_list-element-info img {
  height: 100%;
  min-width: 2rem;
  object-fit: contain;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
.active-dropdown {
  rotate: 90deg;
}
.material_list-final_test {
  width: 100%;
  /* border-top: 2px aliceblue solid; */
  display: flex;
  padding-block: 1rem;
}
.final_test-button {
  border-radius: 4rem;
  display: flex;
  padding-block: 2rem;
  padding-inline: 2rem;
  background-color: rgb(49, 83, 67);
  color: aliceblue;
  font-size: 1.25rem;
  font-weight: 500;
  width: 20rem;
  justify-content: center;
  cursor: pointer;
}
@media screen and (max-width: 576px) {
  .final_test-button {
    width: 100%;
  }
}
.material_list-lessons {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  flex-wrap: wrap;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
  width: 100%;
}
@media screen and (max-width: 576px) {
  .material_list-lessons {
    flex-direction: column;
    overflow: scroll;
    white-space: nowrap;
    max-height: 400px;
  }
}
.lessons-card_wrapper {
  height: 30rem;
  width: 20rem;
  overflow: hidden;
  position: relative;
}
.lessons-card {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.3);
  background-position: center;
  background-size: cover;
  border-radius: 1.25rem;
  overflow: hidden;
  padding: 1.5rem;
}
.lessons-card::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 70%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.65), transparent);
}
.lesson-card-top_buttons {
  display: flex;
  width: 100%;
  height: 3rem;
  gap: 0.25rem;
}
.circle_button {
  width: 3rem;
  height: 100%;
  border-radius: 3rem;
  background-color: rgba(0, 0, 0, 0.35);
  backdrop-filter: blur(10px);
  padding: 0.75rem;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.circle_button img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  filter: invert(1);
}
.video_link_button {
  background-color: white;
  margin-left: auto;
}
.video_link_button img {
  filter: none;
}
.lessons-card-text {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: start;
  margin-bottom: auto;
  gap: 0.2rem;
  z-index: 2;
}
.card-text {
  font-weight: 700;
  font-size: x-large;
  border-radius: 0.5rem;
  white-space: initial;
}

.lessons-test_picker {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  z-index: 3;
  border-radius: 1rem;
}
.test_picker-close_btn-wrapper {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  z-index: 5;
}
.test_picker-close_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  border-radius: 3rem;
  background-color: aliceblue;
  cursor: pointer;
}
.test_picker-close_btn img {
  width: 50%;
  height: 50%;
  object-fit: contain;
}
.test_picker-bubble_wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  z-index: 4;
  filter: none;
  background-position: center;
  background-size: cover;
  background-blend-mode: darken;
}
.test_picker-bubble_wrapper::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  background:  rgba(0, 0, 0, 0.45);
}
.test_picker-test_bubble {
  z-index: 5;
  width: 80%;
  padding: 1rem;
  font-size: 1.25rem;
  border-radius: 3rem;
  color: aliceblue;
  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.35);
  cursor: pointer;
  text-align: center;
}
